@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600&display=swap");
$coral: coral;
$black: rgba(0, 0, 0, 0.74);
$gray: #4e4e4e;
$white: #fcfcfc;
body,
html,
* {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  color: $gray;
}
body {
  background-color: $white;
}
input,
button,
textarea {
  outline: none;
}
h1,
h2,
button {
  font-family: "Stick", sans-serif !important;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.bgc_coral {
  background-color: $coral;
}
.bgc_black {
  background-color: $black;
}
.bgc_white {
  background-color: $white;
}
.c_coral {
  color: $coral;
}
.c_black {
  color: $black;
}
.c_white {
  color: $white;
}
.c_gray {
  color: $gray;
}
.registration--area {
  background-color: $black;
}
//
.auth_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.auth_box h1,
.auth_box h2 {
  margin-bottom: 2rem;
}
.auth--area {
  position: relative;
  text-align: center;
  padding: 25px;
  border-radius: 7px;
}
.auth_box form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.auth_box input {
  width: 200px;
  height: 30px;
  font-size: 1rem;
  margin: 5px;
  border: 1px solid #fcfcfc;
  border-radius: 7px;
  background: none;
  color: #fcfcfc;
  padding-left: 10px;
  outline: none;
  transition: all 0.1s linear;
}
.auth_box input:hover {
  background-color: #fcfcfc;
  color: black;
  cursor: pointer;
}
.auth_box button:hover {
  box-shadow: 0 0 10px 0px #fcfcfc;
  cursor: pointer;
}
.auth_box .from_sign_to_reg {
  width: max-content;
  margin: 0 auto;
}
.auth_box .from_sign_to_reg:hover {
  cursor: pointer;
  color: white;
}
.auth_box .error {
  position: absolute;
  color: #f44336;
  background: #000000d9;
  font-weight: 600;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.1s linear;
}
//
button {
  color: $white;
  background-color: $coral;
  border: 1px solid $coral;
  border-radius: 7px;
  padding: 1px 5px 3px 5px;
  transition: all 0.1s linear;
}
button:hover {
  box-shadow: 0 0 3px 0px $black;
  color: $gray;
  background-color: $white;
  cursor: pointer;
  border: 1px solid $coral;
}
.calendar-visible {
  box-shadow: 0 0 2px 3px #ff7f50;
}
.create {
  border: 1px solid $coral;
}
.create:hover {
  background-color: $coral;
  color: $white;
  cursor: pointer;
  box-shadow: 0 0 3px 0px $black;
}
.mission {
  background-color: $white;
}
.creation {
  outline: 1px solid $gray;
}
.input-title,
.input-description {
  background-color: $coral;
  border: none;
  border: 1px solid $coral;
  transition: all 0.1s linear;
}
.input-description:focus,
.input-title:focus {
  background-color: $white;
}
.day_block {
  border: 1px solid $gray;
  color: $white;
  background-color: $white;
  transition: all 0.1s linear;
}
.day_block:hover {
  box-shadow: 0 0 8px $white;
  border: 1px solid $white;
  cursor: pointer;
}
.edit:hover,
.delete:hover {
  transform: scale(1.1);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid $white;
  background-color: $coral;
}

.burger_content {
  background-color: $white;
}

.burger_button_span::before,
.burger_button_span::after,
.burger_button_span {
  background-color: $gray;
}
.burger_button:hover {
  background-color: $coral;
}
